<html>
<head>
    <title>Faceswap</title>
</head>
<body>

{% if error is defined and error %}
    <div class="error">{{ error }}</div>
{% endif %}

<div class="uploaded-images">
    <div class="face-image">
        <img src="data:image/jpeg;base64, {{ faceImage }}" />
    </div>
    <div class="base-image">
        <img src="data:image/jpeg;base64, {{ baseImage }}" />
    </div>
</div>

<div class="result-image">
    <img src="data:image/jpeg;base64, {{ resultImage }}" />
</div>
{% endif %}

<form class="faceswap-upload-form" action="" method="POST" enctype="multipart/form-data">
    <fieldset>
        <legend>Image Upload</legend>
        {{ form_widget(form) }}
    </fieldset>
    <input type="submit" value="Upload" />
</form>

</body>
</html>
